.fileContainer {
  width: 70%;
  height: 0;
  margin-left: 15%;
  padding-top: 10%;
}

.btn-primary {
  background-color: $valid-color3 !important;
  border: none;
}

.toned {
  -webkit-filter: saturate(0.5); /* Safari 6.0 - 9.0 */
  filter: saturate(0.5);
}

.scrollArea {
  max-height: 1000px;
  overflow: auto;
}

.logContainer {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  //font-family: "Courier New", sans-serif;
  font-size: 11px;
  word-break: break-all;
  overflow: auto;

  #messageLog {
    color: $green-color;
  }

  #errorLog {
    color: $red-color;
  }
}

#specialBtn {
  margin-left: 43%;
  margin-bottom: 30px;
  //border-radius: 100px;
  border-radius: 4px;
}

#informationText {
  margin-bottom: 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  //font: normal 26px/normal "Oswald", Helvetica, sans-serif;
  //color: rgb(112, 112, 112);
  //text-align: center;
  // text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  //letter-spacing: 6px;
  // text-shadow: 1px 1px 0 rgb(238,238,238) , 2px 2px 0 rgb(112,112,112) ;
}

#submitFile {
  margin-left: 10px;
}

#showMoreBtn {
  margin-left: 10px;
}

.ctrlContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: inherit;
}

#valueListMeta {
  margin-top: 23px;
  margin-left: 20px;
}

.btnContainer {
  margin-top: 18px;
  margin-left: 20px;
}

.demo {
  border: 1px dashed #C0C0C0;
  border-collapse: collapse;
  padding: 5px;
  table-layout: fixed;
}
.demo th {
  border: 1px dashed #C0C0C0;
  padding: 5px;
  background: #CCCCCC;
}
.demo td {
  border: 1px dashed #C0C0C0;
  text-align: left;
  vertical-align: top;
  padding: 5px;
}

.leftTD {
  width: 70%;
}

.rightTD {
  width: 30%;
}

.downloadTable {
  width: 100%;
  border: 1px dotted #C0C0C0;
  border-collapse: collapse;
  padding: 5px;
}
.downloadTable th {
  border: 1px dotted #C0C0C0;
  padding: 5px;
}
.downloadTable td {
  border: 1px dotted #C0C0C0;
  padding: 5px;
}

.downloadTable tr.selected td {
  background: rgba(69, 176, 124, 0.73);
}

#helpInfo {
  margin-top: 40px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

#filename {
  margin-right: 100px;
}

.disclaimer{
  background-color: #f5f5f5;
  border-radius: 5px;
  padding:20px;
  float: left;
  width: 49%;
  margin-right: .5%;
  margin-left: .5%;
  height: 140px;
  overflow-y: auto;
}

.netflowerFeature {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding:20px;
  float: left;
  width: 49%;
  margin-right: .5%;
  margin-left: .5%;
  height: 140px;
  overflow-y: auto;
}

.informationBoxes {
  width: 100%;
  margin: 0 auto;
  height:150px;
  margin-bottom: 5%;
}

// Custom Divider format for separating with additional text
.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}


/**
New styles for the panels
 */
.panel-primary {
  border-color: $valid-color3 !important;
  border-top: none;
}

.panel-heading {
  background-color: $valid-color3 !important;
  border-color: $valid-color3 !important;
}

/*Panel tabs*/
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}

.downloadTable tr.selected td > a {
  color: #fff !important;
}

div.dataLoadingView  div.tab-content {
  margin-bottom: 15px;
}

.highlight {
  background: #45B07C;
  color: white;
  padding: 2px;
  border-radius: 5px;
}

.csvInputText {
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
