.fileContainer {
  width: 70%;
  height: 0;
  margin-left: 15%;
  padding-top: 10%;
}

.btn-primary {
  background-color: $valid-color !important;
  border: none;
}

.scrollArea {
  max-height: 1000px;
  overflow: auto;
}

.logContainer {
  height: 80px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  //font-family: "Courier New", sans-serif;
  font-size: 11px;
  word-break: break-all;
  overflow: auto;

  #messageLog {
    color: $green-color;
  }

  #errorLog {
    color: $red-color;
  }
}

#specialBtn {
  margin-left: 43%;
  margin-bottom: 30px;
  border-radius: 100px;
}

#informationText {
  margin-bottom: 10px;
}

#submitFile {
  margin-left: 10px;
}

#showMoreBtn {
  margin-left: 10px;
}

.ctrlContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: inherit;
}

#valueListMeta {
  margin-top: 23px;
  margin-left: 20px;
}

.btnContainer {
  margin-top: 18px;
  margin-left: 20px;
}

.demo {
  width:100%;
  border:1px dashed #C0C0C0;
  border-collapse:collapse;
  padding:5px;
}
.demo th {
  border:1px dashed #C0C0C0;
  padding:5px;
  background:#CCCCCC;
}
.demo td {
  border:1px dashed #C0C0C0;
  text-align:center;
  padding:5px;
}

#helpInfo {
  margin-top: 40px;
}
