.filter {
  width: 50%;
  position: absolute;
  top: 115px;
  left: 145px;
  z-index: 1000;
}

.slider-selection {
  background: $valid-color !important;
}

.slider-handle {
  width: 16px !important;
  height: 16px !important;
  background: lightgrey !important;
}
