.filter {
  width: 100%;
  position: absolute;
  top: 92px;
  right: 10px;
}

.slider-selection {
  background: $valid-color !important;
}

.slider-handle {
  width: 16px !important;
  height: 16px !important;
  background: lightgrey !important;
}
