.filter {
  width: 50%;
  position: absolute;
  top: 115px;
  left: 145px;
  z-index: 1000;
}

#paragraph {
  padding:5px 10px 5px 10px;
  background-color: white;
  //border: solid #333333 1px;
  border-radius: 5px;
}

.slider-selection {
  background: $valid-color !important;
}

.slider-handle {
  width: 16px !important;
  height: 16px !important;
  background: lightgrey !important;
}
