.globalSettings {
  //width: 1%;
  //height: 810px;
  //position: absolute;
  //top: 200px;
  //left: 10px;
  //border: 1px solid black;
}

#backBtn {
  border-radius: 15px;
}

.dialogBox {
  margin-top: 20%;
  z-index: 100001;
}
