.dialogBox {
  margin-top: 20%;
  z-index: 100001;
}

.dialogBoxLeft {
  margin-top: 20%;
  margin-left: 8%;
  z-index: 100001;
}

.list-group  {
  padding: 15px;

  p {
    font-size: 14px;
    font-weight: bold;
  }
}

.clearBox {
  padding: 0 15px 15px 15px;
}

.noteBox {
  padding: 15px 15px 0 15px;
}

.optimizeSankeyBox {
  padding: 0 15px 0 15px;
}

.toggler:before {
  font-family: FontAwesome;
  content: '\f0c9';
  position: absolute;
  top: 15px;
  left: 3px;
}

#sideMenu {
  width: 25% !important;
}

#submitLog {
  width: 100%;
}

.btn-file2 {
  position: relative;
  overflow: hidden;
}

.btn-file2 input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

#globalSaveBtn {
  width: 100%;
}

#noteArea {
  resize: none;
}

/**
Part of the valid header
 */

.timeInfoBox {
  display: flex;
  margin-top: 3px;
  width: 50%;
}

#timeInfoHeader {
  margin-left: 10px;
  flex-wrap: wrap;

  span.label {
    background: #45B07C;
  }
}


/**
On - Off Switch by
https://proto.io/freebies/onoff/
 */
.onoffswitch {
  position: relative; width: 75px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 8px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 29px; padding: 0; line-height: 29px;
  font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #45B07C; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 18px; margin: 5.5px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 42px;
  border: 2px solid #999999; border-radius: 8px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
