/**
Sankey diagram part.
 */
.sankey_diagram {
  display: flex;
  height: 105%;
  width: 96%;
  //border: 1px solid black;
  position: absolute;
  top: 176px;
  right: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 10px;
  //background-color: #f0f0f0;
  border-radius: 4px;
  padding: 7px;
}

.sankey_details, .sankey_details2 {
  background-color: #fff;
  overflow: hidden;
  //padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #DDDDDD;
  border-radius: 0;
  box-shadow: 0 0 15px 1px #777777;

}

.left_bars {
  //border: 1px solid grey;
  width: 18%;
  float: right;
  height: 100%;
}


.sankey_vis {
  float: right;
  //border: 1px solid grey;
  width: 64%;
  //height: 100%;
}

.right_bars {
  float: right;
  height: 100%;
  //border: 1px solid grey;
  width: 18%;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: 20px;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

div.tooltip2 {
  position: absolute;
  text-align: center;
  width: 200px;
  word-wrap: break-word;
  height: auto;
  padding: 2px;
  margin-top: -20px;
  font: 10px sans-serif;
  background: white;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

.caption {
  font:12px sans-serif;
}

.bar {
  fill: #696969;
}

.sankey_vis text {
  font-size: 12px !important;
}

.load_more {
  margin-left: 25%;
  width: 50%;
  text-align: center;
 }

#loadMoreBtn, #loadLessBtn {
  width: 98%;
  height:100%;
  //background: #49B17C;
  /*color: #49B17C;
  border: 2px solid #49B17C;
  font-size: 13px;
  font-weight: 700;
  border-radius: 6px;*/
}


#loadInfo {
  font-size: 13px !important;
}

/**
Sankey detail part.
 */

.closeLink {
  font: 12px sans-serif;
  cursor: pointer;
}

.addNotes {
  cursor: pointer;
}


/**
Sankey features part.
 */
.sankey_features {
  background-color: #f0f0f0;
  border-radius: 4px;
  //opacity: 20%;
  //border-bottom: 1px solid grey;
  //background: rgba(54, 25, 25, .5);
  width: 96%;
  height: 117px;
  position: absolute;
  top: 74px;
  right: 20px;
}

.heading {
  font-weight: bolder;
}

node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
  stroke: #DA5A6B;
}

.left_bar_heading {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

#sankeyHeadingMiddle {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

#infoNodesLeft {
  text-align: center;
  font-size: 11px;
}

.right_bar_heading {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.controlBox {
  height: 130px;
  width: 100%;
}

#backBtn {
  cursor: pointer;
  margin-top: -8px;
}

// Push source sparkline barcharts to right of parent element
div.left_bars svg.barchart {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

svg.barchart rect.bar {
  fill: black;
  fill-opacity: 0.2;
}

svg.barchart rect.bar.active {
  fill: $valid-color;
  fill-opacity: 1;
}

svg.barchart rect.bar:hover {
  fill-opacity: 0.5;
}

svg text.yaxisunit {
  font: 10px sans-serif;
}

// REMOVE LATER
//.quarterSlider {
//  width: 250px;
//  margin-top: -30px;
//  margin-left: 234%;
//}

#mediaSearchButton, #entitySearchButton {
  border-radius: 0;
}

/**
Section for the input fields of the sliders.
 */
#clearMedia, #clearEntity {
  background: #f0f0f0;
}
.specialIcon {
  color: #808080;
  font-size: 1.3em;
}

.sliderInput {
    font-size: 11px;
    width: 50px;
    text-align: center;
}
.sliderInput + .sliderInput {
    float: right;
}

#collapseContentEntity {
  margin-bottom: 10px;
}

#collapseContentEntity2 {
  margin-bottom: 10px;
}

#collapseContentEntity3 {
  padding-left: 45px;
  margin-bottom: 10px !important;
}

.tooltip2 .node td:first-child {
  text-align: right;
  padding-right: 4px;
}

.tooltip2 .node td:last-child {
  text-align: left;
}
