/**
Sankey diagram part.
 */
.sankey_diagram {
  display: flex;
  height: 760px;
  width: 96%;
  border: 1px solid black;
  position: absolute;
  top: 250px;
  right: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.left_bars {
  border: 1px solid grey;
  width: 20%;
  float: right;
  height: 100%;
}


.sankey_vis {
  float: right;
  border: 1px solid grey;
  width: 60%;
  height: 100%;
}

.right_bars {
  float: right;
  height: 100%;
  border: 1px solid grey;
  width: 20%;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: 20px;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.caption {
  font:12px sans-serif;
}

.bar {
  fill: #696969;
}

.sankey_vis text {
  font-size: 12px !important;
}

.load_more {
  margin-left: 25%;
  width: 50%;
}

/**
Sankey detail part.
 */
.sankey_details {
  //background-color: grey;
}



/**
Sankey features part.
 */
.sankey_features{
  //background-color: yellow;
  border: 1px solid grey;
  width: 96%;
  height: 50px;
  position: absolute;
  top: 200px;
  right: 20px;
}

.heading {
  padding: 5px;
  font-size: 16px;
  float: left;
  width: 60%;
}
node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

.left_bar_heading {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.sankey_heading {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;

}

.right_bar_heading {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
