/**
PART FOR THE TAG FILTERS
*/

.tagFilterBox {
  width: auto;
}

.tagFilterBtn {
  border-radius: 4px;
}

.tagFilterBoxWrapper {
  display: inline-block;
  width: inherit;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.tagFilterBoxElems {
  font-size: 10px;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
