/**
 * Add all variables here for SCSS, like colors or paths.
 */

$imagesDirectory: 'media';

//Various colors
$font-color: #DA5A6B;
$background-color: #f0f0f0;
$border-color: #dddddd;

$hover-color: orange;
