/**
 * Add all variables here for SCSS, like colors or paths.
 */

$imagesDirectory: 'media';

//Various colors
$valid-color: #DA5A6B;
$background-color: #f0f0f0;
$border-color: #dddddd;
$icon-hover: #3EB7E6;

$hover-color: orange;
