/**
* Basic variables and layout
*/
@import 'styles/vars';
@import 'styles/base';


/**
The other styles of the page.
 */
//Part of the data loading view.
@import 'styles/data_imports';
//Part of the filter data view.
@import 'styles/filter_data';
//Part of all sankey related visualization stuff.
@import 'styles/sankey';
//Part of the global settings view.
@import 'styles/global_settings';


//Button Design Filter Area

button.btn_design, #loadMoreBtn, #loadLessBtn, button {
  display: inline-block;
  //padding: 4px 9px;
  margin-bottom: 0;
  background-color:white;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1.5px solid transparent;
  border-radius: 4px;
  padding: 5px 16px;
  color: $valid-color3;
  border-color: $valid-color3;
}

button.btn_design:hover, button.btn_design :focus, button.btn_design:active, #loadMoreBtn:hover, #loadLessBtn:hover {
	color: $valid-color2;
  border-color: $valid-color2;
  background-color:white;
}

#loadLessBtn[disabled], #loadMoreBtn[disabled] {
  cursor: default;
  color: $valid-color3;
  border-color: $valid-color3;
}

#btn_above button{
  margin-bottom: 5px;
}

.dataVizView {
  //width:75%;
  display: flex;
  flex-direction: column;
  //margin: 55px 20px 50px;
  // min-height: 100vh;
}

.invisibleClass {
  display: none !important;
}

#validHeader {
  position: fixed;
  z-index: 100000;
  width: 100%;
  height: 67px;
  background-color: $background-color;
  padding: 10px;
  border-bottom: 2px solid $border-color;
}

#validHeader.shrink {
  height: 40px;
  //background-color: $valid_color;
}

/*.col-md-4, .col-md-3 {
  background-color: lightgrey;
  padding: 18px;
  border-radius: 18px;
}*/

.btn {
  font-size: 12px;
}

.label-default {
  background-color: $valid-color;
}

.logo {
  float: left;
  //width: 15%;
  //height: 40px;
  //background-image: url('media/valid_logo_claim.png');
  //background-image: url('media/logo_netflower.png');
  background-repeat: no-repeat;
  //background-size: 240px;
  //margin-top: 10px;
  //padding-left: 250px;
  margin-right:20px;
  font-size: 200%;
  font-family: 'Oswald', sans-serif;
}

.valid_logo {
  background-image: url('media/valid_logo_claim.png');
  background-repeat: no-repeat;
  background-size: 200px;
  //padding-left: 20px;
  //margin-left: 150px;
  //position: absolute;
  float:right;
  width: 18%;
  height: 40px;
  margin-top:10px;
  margin-right: 20px;
}

.valid_logo.shrink {
  display: none;
}


#socialMedia {
  float: right;
  z-index: 1000000;
  height: 80px;
  margin-left: auto;
  margin-right: 20px;
  //margin-top: 50px;
  //width: 40%;
  p {
    float: right;
    padding: 15px;
    //margin-top:-40px;
  }
}

#socialMedia.shrink {
  display:none;

}

.btn_preupload {
  float: left;
  width: 40%;
  margin-top: 7px;
}

.btn_preupload.shrink {
  font-size: 14px;
}
#web {
  color: $valid-color3;

  &:hover {
    color: $icon-hover;
  }
}

.toolbox {
    z-index: 50000000;
}

.button_bar {
  margin-top: 8px;
  float: right;
  height: 30px;
  margin-right: 20px;
}

//Slider distance to the top
.irs {
  margin-top: 5px;
  margin-bottom: 15px;
}

span.to {
    cursor: pointer !important;
}

span.from {
  cursor: pointer !important;
}

// Make input search smaller
.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

// Brings down the bootbox dialog a bit.
.alternateBootboxDialog {
  margin-top: 10%;
}

.alertify-logs {
  opacity: 0.8 !important;
}

.shrink {
  font-size: 100%;
}

#sampleFile {
  margin-left: 50px;
}

// Removes the number spinner from input elements of type number
CSS

/* Hide HTML5 Up and Down arrows. */
CSS

/* Hide HTML5 Up and Down arrows. */
/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
