/**
 * Basic variables and layout
 */
@import 'styles/vars';
@import 'styles/base';


.dataLoadingView {

}

.dataVizView {

}

#validHeader {
  position: fixed;
  //z-index: 100000;
  width: 100%;
  height:80px;
  background-color: $background-color;
  padding:10px;
  border-bottom: 2px solid $border-color;
}

.logo {
  float:left;
  //border: 1px solid red;
  width: 40%;
  height: 800px;
  //background: rgba(255, 255, 255, 0.26) url('media/Valid_Logo.jpg');
  background-image: url('media/Valid_Logo.jpg');
  background-repeat: no-repeat;
  background-size: 140px;
}

#socialMedia {
  float:right;
  z-index: 1000000;
  //background-color:red;
  height:80px;
  margin-left: auto;
  margin-right: 20px;
  width:30%;

}

#socialMedia p {
  float:right;
  padding: 15px;

}


