/**
* Basic variables and layout
*/
@import 'styles/vars';
@import 'styles/base';


/**
The other styles of the page.
 */
//Part of the data loading view.
@import 'styles/data_imports';
//Part of the filter data view.
@import 'styles/filter_data';
//Part of all sankey related visualization stuff.
@import 'styles/sankey';
//Part of the global settings view.
@import 'styles/global_settings';


.dataLoadingView {

}

.dataVizView {
  //width:75%;
  display: flex;
  flex-direction: column;
  //margin: 55px 20px 50px;
  // min-height: 100vh;
}

.invisibleClass {
  display: none !important;
}

#validHeader {
  position: fixed;
  z-index: 100000;
  width: 100%;
  height: 67px;
  background-color: $background-color;
  padding: 10px;
  border-bottom: 2px solid $border-color;
}

.logo {
  float: left;
  width: 25%;
  height: 40px;
  background-image: url('media/valid_logo_claim.png');
  background-repeat: no-repeat;
  background-size: 240px;
  margin-top: 10px;
  padding-left: 250px;
  font-size: 250%;
}

#socialMedia {
  float: right;
  z-index: 1000000;
  height: 80px;
  margin-left: auto;
  margin-right: 20px;
  width: 30%;

  p {
    float: right;
    padding: 15px;
  }

}

.btn_preupload {
  float: left;
  width: 40%;

}

#web {
  color: $valid-color;

  &:hover {
    color: $icon-hover;
  }
}

.toolbox {
    z-index: 50000000;
}

.button_bar {
  margin-top: 8px;
  float: right;
  height: 30px;
  margin-right: 20px;
}

//Slider distance to the top
.irs {
  margin-top: 5px;
  margin-bottom: 15px;
}

span.to {
    cursor: pointer !important;
}

span.from {
  cursor: pointer !important;
}

//Make input search smaller
.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}
