/**
 * Basic variables and layout
 */
@import 'styles/vars';
@import 'styles/base';

.dataLoadingView {

}

.dataVizView {

}

#validHeader {
  position: fixed;
  //z-index: 100000;
  width: 100%;
  height:100px;
  background-color:#D2D2D2;
 }

.logo {
  border: 1px solid red;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.26) url('media/Valid_Logo.jpg');
}
